html { overflow-y: scroll; 
  height:7000px;
}

body{
  background-color: white;
  margin: 0;
}

@font-face {
  font-family: font;
  src: url("font.otf");
}

#nav-header{
  position: sticky;
  background-color: #61dafb;
  border: 2px solid #4CAF50;
  right: 0;
  top: 0;
  visibility: visible !important;
  height: 80px;
  width: 100vw;
  z-index: 2;
}

#logo {
  position: absolute;
  height: 80%;
  width: auto;
  left: 5%;
  top: 10%;
}

#menu{
  overflow: visible;
  position: absolute;
  left: 45%;
  top: 10%;
}

.menu-style{
  display: inline-block;
  margin-left: 15%; 
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

.location{
  display: block;
  margin-top: 20%;
  color: #000000;
  text-align: center;
  font-family: font;
  font-size: 15px;
  transform: scale(2, 1);
}

#search-bar{
  position: absolute;
  left: 55%;  
  top: 25%;
  height: 50%;
  width: 30%;
  font-family: font;
  font-size: 200%;
}

#search-button{
  position: absolute;
  float: right;
  top: 10%;
  left: 87.5%;
  border-radius: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10%;
  height: 80%;
  cursor: pointer;
}
#button-icon{
  height:70%;
}

#search-button:hover{
  background:#000000;
}


.forecast-carousel{
  display: inline-flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width:100vw;
}

.carousel-item{
  display: inline-flex;
  position: absolute;
  border: 2px solid gray;
  height: 22rem;
  min-width: 10%;
  width: 10%;
  align-items: center;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.562, 1);
  opacity: 0;
}

.carousel-item[data-active]{
 opacity: 1; 
}

.carousel-button{
  position: absolute;
  z-index: 3;
  top: 15%;
  font-size: 4rem;
  background: none;
  border: none;
  transform: translateY(50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover, 
.carousel-button:focus{
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev{
  left: 20rem;
}
.carousel-button.next{
  right: 20rem;
}

.temperature{
  font-size: 50px;
}