body, div, p, button {
  padding: 0;
  margin: 0;
}

#header {
  background-color: aqua;
}

#header div {
  padding: 2rem;
}

#collection {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.day-button button{
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  border: 0;
}